label {
  /* display: flex; */
  align-items: center;
  margin-bottom: 10px;
}

.rlable1 {
  width: 70px;
  display: flex;
}
/* .rlable1 label{
    margin-left: 10px;
  } */
#TR {
  width: 350px;
  margin-left: 10px;
}

textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
