.MuiListItemIcon-root {
  min-width: 40px !important;
}

.active {
  .MuiListItemButton-root,
  .MuiListItemButton-root:hover {
    background-color: var(--bs-primary);
    color: var(--bs-light);

    .MuiTypography-root {
      font-weight: 500;
    }

    .MuiListItemIcon-root {
      color: inherit !important;
    }

    .MuiSvgIcon-roots {
      color: inherit !important;
    }
  }
}

#topNav {
  width: fit-content;
  justify-content: center;
}

@media (min-width: 0px) and (max-width: 991px) {
  #topNav {
    width: 100%;
    justify-content: space-between;
    padding: 4px 20px;
  }
}
