body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --bs-primary: #64bb15 !important;
  --bs-primary-rgb: 100, 187, 21 !important;
  --bs-secondary: #f88c19 !important;
  --bs-secondary-rgb: 248, 140, 25 !important;
  --bs-dark: #121619 !important;
  --bs-dark-rgb: 18, 22, 25 !important;
}
